<div id = "upload_menu_container" class = "upload_window">

    <div class = "utility_container">
        <button class="exit_button">X</button> 
    </div>

    <div class = "multiple_options_container_row">

        <div class = "multiple_options_container_column">

            <h2>Upload Options</h2>

            <div id = "database_upload_box" class = "option">
                    <button id="database_menu_button" class = "button1">Show Collections</button>
            </div>
        </div>

        <div class = "multiple_options_container_column">

            <div id = "step_container3" class="step_progress_formular">
                <h1>Step2</h1>
            </div>
            
            <div id = "server_output_formular" class="server_output_container">
                <h2>Tables:</h2>
            </div>
        </div>

    </div>

</div>